# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
# Drizzle
DATABASE_URL=your_db_url

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Google Cloud OAuth Credentials
GOOGLE_ID=
GOOGLE_SECRET=

# OpenAPI
# You can generate the secret via 'openssl rand -base64 32' on Linux
SECRET_KEY=

# Teensy URL
# On local environments, this will be localhost, but on production, this will be the domain of the site
NEXT_PUBLIC_SITE_URL=http://localhost:3000