@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen bg-purple-900 bg-gradient-to-b from-purple-700 to-purple-1000 text-white transition-colors duration-500 ease-in dark:bg-black dark:bg-none  dark:text-gray-200;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
