@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 262 0% 95%;
		--foreground: 262 0% 10%;
		--card: 262 0% 90%;
		--card-foreground: 262 0% 15%;
		--popover: 262 0% 95%;
		--popover-foreground: 262 95% 10%;
		--primary: 262 92% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 262 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 224 10% 85%;
		--muted-foreground: 262 0% 40%;
		--accent: 224 10% 80%;
		--accent-foreground: 262 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 262 0% 90%;
		--border: 262 20% 55%;
		--input: 262 20% 50%;
		--ring: 262 92% 56%;
		--radius: 0.5rem;
		--chart-1: 270 80% 60%;
		--chart-2: 0 100% 50%;
		--chart-3: 120 70% 40%;
		--chart-4: 30 80% 60%;
		--chart-5: 195 80% 50%;
	}

	.dark {
		--background: 262 10% 10%;
		--foreground: 262 0% 90%;
		--card: 262 0% 10%;
		--card-foreground: 262 0% 90%;
		--popover: 262 10% 5%;
		--popover-foreground: 262 0% 90%;
		--primary: 262 92% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 262 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 224 10% 25%;
		--muted-foreground: 262 0% 60%;
		--accent: 224 10% 25%;
		--accent-foreground: 262 0% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 262 0% 90%;
		--border: 262 20% 50%;
		--input: 262 20% 50%;
		--ring: 262 92% 56%;
		--radius: 0.5rem;
		--chart-1: 270 80% 70%;
		--chart-2: 0 100% 60%;
		--chart-3: 120 60% 30%;
		--chart-4: 30 60% 50%;
		--chart-5: 195 60% 40%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply h-screen bg-background text-foreground accent-primary;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #a5a7ac #374151;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	@apply bg-zinc-800/5;
}

*::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: hsl(266 85% 58%);
	border: 0px solid white;
	height: 10%;
	cursor: pointer;
}
