@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@theme {
	--color-gray-950: #18181b;

	--color-red-450: #fe5f55;

	--color-purple-1000: #451b66;

	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-chart-1: hsl(var(--chart-1));
	--color-chart-2: hsl(var(--chart-2));
	--color-chart-3: hsl(var(--chart-3));
	--color-chart-4: hsl(var(--chart-4));
	--color-chart-5: hsl(var(--chart-5));

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: 262 0% 95%;
		--foreground: 262 0% 10%;
		--card: 262 0% 90%;
		--card-foreground: 262 0% 15%;
		--popover: 262 0% 95%;
		--popover-foreground: 262 95% 10%;
		--primary: 262 92% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 262 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 224 10% 85%;
		--muted-foreground: 262 0% 40%;
		--accent: 224 10% 80%;
		--accent-foreground: 262 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 262 0% 90%;
		--border: 262 20% 55%;
		--input: 262 20% 50%;
		--ring: 262 92% 56%;
		--radius: 0.5rem;
		--chart-1: 270 80% 60%;
		--chart-2: 0 100% 50%;
		--chart-3: 120 70% 40%;
		--chart-4: 30 80% 60%;
		--chart-5: 195 80% 50%;
	}

	.dark {
		--background: 262 10% 10%;
		--foreground: 262 0% 90%;
		--card: 262 0% 10%;
		--card-foreground: 262 0% 90%;
		--popover: 262 10% 5%;
		--popover-foreground: 262 0% 90%;
		--primary: 262 92% 56%;
		--primary-foreground: 0 0% 100%;
		--secondary: 262 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 224 10% 25%;
		--muted-foreground: 262 0% 60%;
		--accent: 224 10% 25%;
		--accent-foreground: 262 0% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 262 0% 90%;
		--border: 262 20% 50%;
		--input: 262 20% 50%;
		--ring: 262 92% 56%;
		--radius: 0.5rem;
		--chart-1: 270 80% 70%;
		--chart-2: 0 100% 60%;
		--chart-3: 120 60% 30%;
		--chart-4: 30 60% 50%;
		--chart-5: 195 60% 40%;
	}

	* {
		@apply border-border;
	}

	body {
		@apply h-screen bg-background text-foreground accent-primary transition-colors duration-500;
	}
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
	-webkit-appearance: none;
	margin: 0;
	/* biome-ignore lint/complexity/noImportantStyles: Required to override the default browser styles */
	-moz-appearance: textfield !important;
	/* biome-ignore lint/complexity/noImportantStyles: Required to override the default browser styles */
	appearance: textfield !important;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #a5a7ac #374151;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	@apply bg-zinc-800/5;
}

*::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: hsl(266 85% 58%);
	border: 0px solid white;
	height: 10%;
	cursor: pointer;
}
